body {
    background-color: rgb(29, 123, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 98vw;
}

header {
    text-align: center;
    color: white;
}

section {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

footer {
    text-align: center;
    color: white;
}